.entry-question{
    margin-top: 10%;
    margin-left: 4%;
    margin-bottom: 2%;
    font-size: calc(1.325rem + .9vw);
    font-family: 'Interstate', 'Interstate_Reg', 'Arial', 'Verdana','Sans Serif';
}
hr{
    width:88vw;
    margin-left: 4%;
    margin-left: 4%;
    background-color:black;
    height: 3px;
}
