footer {
    a {
        font-weight: 600;
        text-decoration: none;
    }
    .col-md-4{
        width: 100%;
        justify-content: space-around;

        .links{ 
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
        }
    }
    .autor{
        margin-left: 19rem;
        margin-right: 19rem;
    }

    
}