footer {
    a {
        font-weight: 600;
        text-decoration: none;
        font-size: 1.1rem;
    }

    .link-primary{
        margin-left: 15vh;
        color:#366dae;
     }


    .col-md-4{
        width: 100%;
        justify-content: space-between;

        .links{ 
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 1.1rem;
            margin-right: 10vh;
            
        }
    }
    .autor{
        margin-left: 5rem;
        margin-right: 5rem;
        font-size: 1.1rem;
    
    }

    .text-muted{
        margin-left: 5vh;
    }

    
}