$color1: #ffffff;
$color2: #0a0a0a;
$color3: #056dae;

header {
  background: $color3;
  width: 100%;
  height: 23vh;

  .section-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color2;
    width: 100%;
    height: 5vh;
    font-family: "Interstate", "Interstate_Reg", Arial, Verdana, Sans Serif;
    font-size: 2vh;
    line-height: 18px;

    p {
      align-self: center;
      margin-top: 2vh;
      margin: 7vw;
    
    }
    .nav-pills .nav-link.active {
      color: $color1;
      background: none;
    }

    .nav-link,
    .float-left {
      color: $color1;
    }

    .float-left {
      font-size: 17px;
      line-height: 18px;
      margin-top: 4px;
    }
    .nav-help{
        margin-right: 4vw;
    }
  }

  .conteiner-nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 6vh;

    li {
      list-style: none;
      margin-top: 10px;
    }

    .float,
    ul {
      color: $color1;
      font-size: 4vh;
      margin-left: 0px;
      padding: 0px;
    }

    .bancanet {
      margin-left: 2vh;
    }
    .bancanet,
    .Brand-citibanamex {
      text-decoration: none;
      color: $color1;
      font-size: 2.7vh;
      font-weight: 500;
      width: 30vh;
      height: 8vh;
      font-family: Interstate, Interstate_IE, Arial, Verdana, Sans Serif;
      font-style: normal;
      align-self: center;
      margin-left: 5vw;
    }
    .bancanet{
        margin-left: 2vh;
        font-size: 3.3vh;
    }
    .logo-out {
      width: 4.5vh;
      margin-left: 50vw;
    }
    .text-logout {
      font-size: 2.8vh;
      align-items: center;
      color: $color1;
      margin-top: 1.5vh;
      margin-left: 1vh;
    }
  }

  .container-welcome {
    display: flex;
    color: $color1;
    justify-content: space-around;
    height: 6vh;

    .welcome {
      margin-right:50vw;
    }

    p {
      font-size: 2.2vh;
      margin-right: 1vh;
    }
  }

  .container-nav-user {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: auto;
    background: $color1;
    border-radius: 15px;

    .nav-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2vh;
      font-size: 2vh;
      border-right: 2px solid rgb(168, 187, 199);
      padding-right: 3.5vh;
      padding-bottom: 0px;

      i {
        font-size: 3.5vh;
        color: $color3;
      }

      i:hover {
        font-size: 4.4vh;
        color: $color3;
      }

      a {
        text-decoration: none;
        color: $color2;
        border-right: slategray;
        font-size: 2.5vh;
      }

     p{
        font-size: 2.5vh;
        color:#0a0a0a;
      }


    }
    
  }
}
