.continue {
    display: inline-block;
    color: #fff;
    border: none;
    background-color: #0d6efd;
    margin: 0px 0pxm 32.3906px;
    padding: 6px 12px;
  }
  .modal-body{
      text-align: center;
      font: {
          size: 2rem;
          weight: 500;
      };
      #check {
        color: green;
      }
  }
  .modal-footer{
      display: flex;
      align-items: center;
      justify-content: center;
  }