#tooltip {
  border-bottom: 1px dashed gray;
  cursor: pointer;
  position: relative;
  line-height: 2rem;
}
#tooltip::before {
    visibility: hidden;
    content: attr(data-info);
    color: white;
    font-size: 1.5em;
    text-align: center;
    line-height: 2.5rem;
    padding: .80rem;
    background: rgba(0, 0, 0, 0.877);
    border-radius: 5px;
    position: absolute; /* Lo posicionamos de modo absoluto dentro del span */
     top: -1em;
     min-width: auto;
     z-index: 999;
}
#tooltip:hover::before {
    visibility: visible;
  
}

#tooltipHeader {
  border-bottom: 1px dashed gray;
  cursor: pointer;
  position: relative;
  line-height: 2rem;
}
#tooltipHeader::before {
    visibility: hidden;
    content: attr(data-info);
    color: white;
    font-size: 1.5em;
    text-align: center;
    line-height: 2.5rem;
    padding: .80rem;
    background: rgba(0, 0, 0, 0.877);
    border-radius: 5px;
    position: absolute; /* Lo posicionamos de modo absoluto dentro del span */
     top: 1em;
     min-width: auto;
     z-index: 999;
}
#tooltipHeader:hover::before {
    visibility: visible;
  
}
