#tooltip {
  background-color: yellow;
  border-bottom: 1px dashed gray;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
#tooltip::before {
    //display: none; /* Lo ocultamos*/
    visibility: hidden;
    content: attr(data-info);
    color: white;
    font-size: 2em;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.877);
    border-radius: 5px;
    position: absolute; /* Lo posicionamos de modo absoluto dentro del span */
     top: -2em;
     left: 2px;
    min-width: 500px;
    z-index: 999;
}
#tooltip:hover::before {
    //display: block;
    visibility: visible;
}