form{
    width:70%;
}


h1{
    font-weight: lighter;
    margin-bottom: 3%;
}

p{
    font-weight: bold;
}

.container{
    margin:0;
    padding:0;
}

button{
margin-bottom: 4%;

}
.reminder{
    font-weight: normal;
    font-size: 12px;
    margin-bottom: 0;
}