
    .table-container {
        
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: {
            top: 1.5rem;
            bottom: 1rem;
        };
        table {
            width: 80%;
            margin: {
                top: 1.50rem;
            };
            tr{
                td{
                  height: 4rem;
                  text-align: start;
                  font: {
                      size: 20px;
                  };
                }
            }
        }
      }
     

.btns-ver-own{
button{

color: #0d6efd;
display: inline-block;
font-weight: bold;
border: none;
background-color: white;
margin: 1.3vh 0vh 1.3vh;
padding: 6px 12px;

}

#aceptar{
    display: inline-block;
    color: #fff;
    border: none;
    background-color: #0d6efd;
    margin: 0px 0pxm 32.3906px;
    padding: 6px 12px;
    
}

}