:root{
    --oscuros:#070507;
    --whiteBack: white; 
    --claros: #ead7ba;
    --navBarlight: #056dae;
    --navBarDark: #213946;
    
}

body {
    background-color: var(--background-color);
    color: var(--color);
}
body.light{
--background-color-nav:var(--navBarlight);
--background-color:var(--whiteBack);
--color:var(--oscuros)
}

body.dark{
    --background-color:var(--oscuros);

    --color:var(--claros);
    --background-color-nav:var(--navBarDark);
}

header {
    background-color:var(--background-color-nav);
}


